SimpleConnector for Smartthings
[{"id":"de25626f.2b7548","type":"debug","z":"d48243e.93e2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":240,"wires":[]},{"id":"223964ba.416bf4","type":"http in","z":"d48243e.93e2c4","name":"/token","url":"/token","method":"post","upload":true,"swaggerDoc":"","x":270,"y":320,"wires":[["c8b0717d.fbcab","1564d09f.af187f"]]},{"id":"ecbdc97.5910a38","type":"http in","z":"d48243e.93e2c4","name":"/authorize","url":"/authorize","method":"get","upload":false,"swaggerDoc":"","x":280,"y":220,"wires":[["9f12058a.e3ae78","c82fc427.35cd08"]]},{"id":"8d5ad43e.aa3988","type":"http response","z":"d48243e.93e2c4","name":"AuthHttp","statusCode":"","headers":{},"x":760,"y":180,"wires":[]},{"id":"4bb70496.151f84","type":"debug","z":"d48243e.93e2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":320,"wires":[]},{"id":"9f12058a.e3ae78","type":"function","z":"d48243e.93e2c4","name":"OAuth2 Authorize Response","func":"var newMsg = { statusCode : 303 };\n\nvar state=msg.state;\nglobal.set(\"state\",state,\"file\");\n\n\nvar location =msg.payload.redirect_uri+\"?code=trucmachinchose&state=\"+msg.payload.state;\n\nnode.warn(location);\nmsg.statusCode = 303;\nmsg.headers = {};\n    msg.headers['Location'] = location;\n    msg.payload = \"data to post\";\n\nnode.warn(msg);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":180,"wires":[["8d5ad43e.aa3988","de25626f.2b7548"]]},{"id":"c8b0717d.fbcab","type":"function","z":"d48243e.93e2c4","name":"OAuth2 Token Response","func":"\nvar jsonresponse={ \n    \"access_token\"  : \"cestmontoken\",\n    \"token_type\"    : \"Bearer\",\n    \"expires_in\"    : \"600\",\n    \"refresh_token\" : \"cestmonrefreshtoken\",\n    \"redirect_uri\"  : \"https://c2c-eu.smartthings.com/oauth/callback\"\n};\n\nvar state = global.get(\"state\",\"file\");\nnode.warn (\"state:\"+state);\n\nmsg.payload=jsonresponse;\n\nvar location =msg.payload.redirect_uri+\"?code=trucmachinchose&state=\"+msg.payload.state;\n\nnode.warn(\"location: \"+location);\nmsg.statusCode = 200; //303;\nmsg.headers = {};\nmsg.headers['Content-Type'] = \t'application/json';\n\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":360,"wires":[["4bb70496.151f84","d47f8bc1.a77268"]]},{"id":"d47f8bc1.a77268","type":"http response","z":"d48243e.93e2c4","name":"TokenHttp","statusCode":"","headers":{},"x":770,"y":400,"wires":[]},{"id":"c82fc427.35cd08","type":"debug","z":"d48243e.93e2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":240,"wires":[]},{"id":"1564d09f.af187f","type":"debug","z":"d48243e.93e2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":300,"wires":[]}]
